DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=postgrespassword
DATABASE_NAME=fastapi_course
DATABASE_USERNAME=postgres
SECRET_KEY=change_me_to_a_random_string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
